.footer {
  padding-top: 5rem;
  background: black;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 5rem 100px;
  align-items: center;
}

.footer-container::before {
  content: "";
  display: block;
  height: 10px;
  width: 100px;
  background: #ccf235;
  position: absolute;
  top: -5rem;
}

.footer-container p {
  font-size: 1.5rem;
  color: #cccccc;
}

.contato-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contato-links p {
  color: var(--white);
  font-weight: bold;
}

#end-contato {
  font-size: var(--small-text);
  padding-bottom: 4rem;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  #end-contato {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}

@media (max-width: 500px) {
  .footer-container p {
    font-size: 1.3rem;
  }

  #end-contato {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}
