.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding-top: 2.5rem;
}

.header img {
  width: 200px;
}

.menu {
  font-size: 1.3rem;
  display: flex;
  gap: 2.5rem;
  list-style: none;
  text-transform: capitalize;
  flex-wrap: wrap;
  justify-content: center;
}

.header a::after {
  content: "";
  height: 2px;
  display: block;
  width: 0%;
  background-color: #292929;
  margin-top: 3px;
  transition: 0.3s;
}

.header a:hover::after {
  width: 100%;
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
  }
  .header a {
    background: #f5f5f5;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 550px) {
  .header a {
    font-size: 1rem;
  }
  .header img {
    width: 150px;
  }

  .header {
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 1.5rem;
  }
  .menu {
    gap: 20px;
  }
}
